<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NFL Draft Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand text-white" href="/" >Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Charts
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/frequency">Draft Position Frequency</a>
                            <a class="dropdown-item" href="/trend">Draft Position Trend</a>
                            <a class="dropdown-item" href="/combine">Combine</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!--create container, rows and columns and add images -->
    <div class="container content">    
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h3>NFL Draft Dashboard </h3>
                    <hr>
                    <div class="thumbnail">
                        <img class="img-thumbnail float-center" src="../static/images/NFL.png " width="10%">
                    </div>
                    <p> <b>Have you ever wondered why the NFL Draft is such a big deal?  Why millions of Americans drop what they are doing every April in anticipation of their favorite NFL teams hiting the jackpot?  If so, you have come to the right place!</b></p> 
                    
                    <p> <b>Each year, the NFL holds a draft in which teams get to hand select who they feel will be tomorrow's stars.  Hundreds of college football players have been preparing their entire lives to earn a job in the NFL.  However, their job interview is quite a bit different then the Average Joe's.  Enter the NFL Combine!</b></p> 
                    <p> <b>The NFL Combine is a Pre-Draft event that takes place every year.  By invitation only, future prospects gather from all over the country to showcase their physical skills in different combine events and thus prove their readiness for the NFL game.</b></p>
                    <h6><b><u>Combine Events:</u></b></h6>
                    <ul>
                        <li> <b> <u>Forty Yard Dash</u> - An all out sprint for 40 yards.  Laser timed to ensure 100% accuracy.  This event measures pure speed. (Record: John Ross, 4.22 Seconds) </b></li>
                        <li> <b> <u>Vertical</u> - Jump as high as you can.  This event measures explosiveness.  (Record: Gerald Sensabaugh, 46")</b></li>
                        <li> <b> <u>Bench Reps</u> - Bench a 225 lb barbell as many times as you can.  Shows a players strength.  (Record: Justin Ernest, 51 reps)</b></li>
                        <li> <b> <u>Three Cone</u> - Run around a triangle in a specific pattern.  Evaluates the agility, quickness and fluidity of movement by the player. (Record: Jordan Thomas, 6.28 seconds) </b></li>
                        <li> <b> <u>Broad Jump</u> - Jump as far as you can while landing in a balanced position.  (Record: Byron Jones, 12'3") </b></li>
                        <li> <b> <u>Shuttle</u> - 20 yard change of direction sprint. Tests lateral speed and agility.  (Record: Kevin Kasper, 3.73 seconds)</b></li>
                    </ul>
                </div>
            </div>
            <!--visualization adjustments-->
            <div class="col-md-4">
                <div class="col-md-12">
                    <h3>Data Charts</h3>
                    <hr>
                    <div class="row">
                        <div class="col-3 col-md-6">
                            <a href="/frequency"><img src="../static/images/NFLDraft2021.png" width="100%"  alt="Draft Position Frequency"></a><h5>Draft Position Frequency</h5>
                        </div>
                        <div class="col-3 col-md-6">
                            <a href="/trend"><img src="../static/images/player1.png" width="100%" alt="Draft Position Trend"></a><h5>Draft Position Trend</h5>
                        </div>
        
                        <div class="col-3 col-md-6">
                            <a href="/combine"><img src="../static/images/NFLCombine.png" width="100%"  alt="Combine"></a><h5>Combine</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="page-footer font-small footer-dark">
        <div class="footer-copyright text-center py-3">
        </div>      
    </footer>
    <script src="../static/js/test.js"></script>
</body>
</html>